.nav-bar{
    background-color: aqua;
}
img{
    background-color: aqua;
}
.card-container{
    border: 2px solid #ccc; 
    border-radius: 20px; 
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 2px;
    background-color:lightgrey; 
    height: 300px; 
    gap: 2px;
}
.main-container{
    display: grid;
    justify-content: space-between;
    margin-top: 5px;
    grid-template-columns: repeat(5,1fr);
    gap:10px;
    padding-left: 20px;

}
h4{
    font-size: medium;
    text-align: center;
}
p{
    text-align: center;
}
.rating{
    text-align: center;
}